{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<link href="{% static "img/boom.ico" %}" rel="icon" type="image/x-ico" />
	<title>{% block title %}Zoetwaterberging{% endblock %}</title>
	{% block style %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-select.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-flat-extras.css" %}" rel="stylesheet">
    <style>
		#footer > .navbar {padding-top: 10px; min-height:32px !important;}
		#header > .navbar {padding-top: 4px; min-height:32px !important;}
		#header img {padding-bottom: 4px; padding-right: 4px;}
		body > .wrapper {padding-bottom: 42px; padding-top: 36px;}
 		.nav > .breadcrumb {float: left; margin-top: 8px; padding-bottom: 0px;}
 		body {margin: 32px;}
    </style>
	{% endblock %}
	{% block extrastyle %}{% endblock extrastyle %}
	{% block meta %}{% endblock %}
	{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
	{% endblock %}
  </head>
<body>
    {% block header %}
	<div id="header" class="container">
	    <nav class="navbar navbar-default navbar-fixed-top">
	        <div class="navbar-inner navbar-content-right text-right">
	        	<img src="{% static "img/noord-holland-logo.png" %}" height="32px"/>
	        </div>
	    </nav>
	</div>
    {% endblock header %}
    <div class="wrapper">
    {% block content %}
    {% endblock content %}
	</div> <!-- wrapper -->
    {% block footer %}
	<div id="footer" class="container">
	    <nav class="navbar navbar-default navbar-fixed-bottom">
	        <div class="navbar-inner navbar-content-center">
    			{% block footer-text %}
	            <p class="text-muted text-center credit">
					<img src="{% static "img/boom.png" %}" height="24px"/>
		            <a href="http://www.acaciawater.com">Acacia Water</a> • Jan van Beaumontstraat 1 • 2805 RN Gouda • The Netherlands • Tel: +31 (0)182 - 686424 • Mail: <a href="mailto:info@acaciawater.com">info@acaciawater.com</a>.
	            </p>
    			{% endblock footer-text %}
	        </div>
	    </nav>
	</div>
    {% endblock footer %}
  </body>
</html>
