{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	<link href="{% static "img/boom.ico" %}" rel="icon" type="image/x-ico" />
	<title>{% block title %}Zoetwaterberging{% endblock %}</title>
	{% block style %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 	crossorigin="anonymous">

    <link href="{% static "css/bootstrap-select.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-flat-extras.css" %}" rel="stylesheet">
    <style>
		#footer > .navbar {padding-top: 10px; min-height:32px !important;}
		#header > .navbar {padding-top: 4px; min-height:32px !important;}
		#header img {padding-bottom: 4px; padding-right: 4px;}
		body > .wrapper {padding-top: 36px;}
 		.nav > .breadcrumb {float: left; margin-top: 8px; padding-bottom: 0px;}
 		body {margin: 32px;}
    </style>
	{% endblock %}
	{% block extrastyle %}{% endblock extrastyle %}
	{% block meta %}{% endblock %}
	{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	{% endblock %}
  </head>
<body>
    {% block header %}
	<div id="header" class="container">
	    <nav class="navbar navbar-default navbar-fixed-top">
	        <div class="navbar-inner navbar-content-right text-right">
	        	<img src="{% static "img/noord-holland-logo.png" %}" height="32px"/>
	        </div>
	    </nav>
	</div>
    {% endblock header %}
    <div class="wrapper">
    {% block content %}
    {% endblock content %}
	</div> <!-- wrapper -->
  </body>
</html>
