{% extends 'base.html' %}
{% load staticfiles %}
{% block extrastyle %}
<style>
body {
   background-image: url('{%static 'img/bgwc5050.png' %}');
   background-position: center; 
   background-attachment: fixed; 
   background-repeat: no-repeat; 
   background-size: cover;
}
.panel {
	opacity: 0.8;
} 
/* #header > .navbar { */
/*    padding-top: 0px;  */
/*    background-image: url('{%static 'img/tulpen1.png' %}'); */
/*    background-position: 0px 0px;  */
/*    background-attachment: fixed;  */
/*    background-repeat: x-repeat;  */
/*    background-size: 68px 32px; */
/* } */
</style>
{% endblock %}
{% block content %}
<div class = "container-fluid">
<div class = "row-fluid">
<div class = "col-md-12">
<div class = "panel panel-info">
	<div class = "panel-heading">
		<h3>Zoetwaterberging.nl</h3>
	</div>
	<div class = "panel-body">
	<p>De zoetwaterberging.nl is een tool waarmee u als agrariër inzicht kunt krijgen in de mogelijkheden van zelfvoorzienendheid met betrekking tot zoetwater voor uw bedrijf.</p>
	<p>Op basis van een aantal kengetallen zoals perceelgrootte, volume van het bassin en teelt, kunt u de kosten en de beschikbaarheid van zoetwater voor uw bedrijf berekenen. </p>
	<p>U kiest stapsgewijs uw meteorologische situatie, de grondsoort op uw bedrijf, het soort irrigatiesysteem, de grondwaterkwaliteit op uw bedrijf en het volume van het waterreservoir (bassin) of oppervlakte van de teelt die u wil gaan irrigeren.  
	Hieruit volgt dan een grafiek die de gemiddelde watertekorten weergeeft behorend tot de combinatie van het perceelgrootte en het volume van het bassin.</p>
	<br/>
	<p><a href="/scenario" class="btn btn-primary">Start de tool</a></p>
	</div>
</div>
</div>
</div>

<div class = "row-fluid">
<div class = "col-md-12">
<div class = "panel panel-info">
<div class = "panel-body">
<div class = "col-md-6">
<h4>Proef zoetwaterberging op Texel</h4>
<p>Het systeem maakt gebruik van het bestaande drainagesysteem of dakoppervlak om water op te vangen. Dit water komt samen in een centrale put waar controle plaatsvindt op EC (waterkwaliteit). Voldoet het water aan de door de teler gestelde eis dan wordt het water opgeslagen in een bassin. Voldoet het niet dan wordt het water weggeleid naar de sloot.</p>
<p>Tijdens het groeiseizoen kan het water via traditionele beregening worden gebruikt. Binnen de pilot zijn een tweetal ander methoden toegepast:
<ul>
<li><b>DI-systeem</b>. Bij het Drainage-Infiltratie (DI) systeem wordt het drainagesysteem gebruikt om water te infiltreren waarbij de grondwaterstand op peil wordt gehouden, feitelijk waterlevering van onderaf.</li>
<li><b>Druppelbevloeiing</b>. Watergift wordt gerealiseerd via druppelslangen en is veel efficienter dan traditionele beregening met een haspel. Tevens is het voordeel dat het blad niet nat wordt en kansen op ziektes afnemen. Tot slot kan ook fertigatie worden toegepast. Zo komen meststoffen met het water rechtstreeks bij de plant terecht en worden direct opgenomen.</li>
</ul>
</div>
<div class = "col-md-6 text-right">
<img src="/static/img/winter.png" width="80%"></img>
<img src="/static/img/groei.png" width="80%"></img>
</div>
</div>
</div>
</div>
</div>

</div>
{% endblock %}
