{% load staticfiles %}
{% block content %}
<div class = "container-fluid">
<div class = "row">
<div class = "col-md-6 text-center" ><img src="{% static 'img/druppelbevloeiing.jpg' %}" width = 70%"/></div>
<div class = "col-md-6">
<h2>Methode van watergift</h2>
<h3>Druppelbevloeiing</h3> 
Watergift wordt gerealiseerd via druppelslangen en is veel effici&euml;nter dan traditionele beregening met een haspel. Tevens is het voordeel dat het blad niet nat wordt en kansen op ziektes afnemen. Tot slot kan ook fertigatie worden toegepast. Zo komen meststoffen met het water rechtstreeks bij de plant terecht en worden direct opgenomen.<br/>
Bovengrondse druppelbevloeiing wordt op, of enkele centimeters onder, het oppervlak geplaatst. De aanleg wordt gecombineerd met de start van de teelt en aan het eind van het seizoen worden de slagen v&oacute;&oacute;r het oogsten verwijderd.

</div>
</div>
<div class="row" style="margin-top: 32px" >
<div class = "col-md-6 text-center"><img src="{% static 'img/DI.JPG' %}" width = 70%"/></div>
<div class = "col-md-6">
<h3>DI-systeem</h3>
Bij het DI-systeem (drainage-infiltratie) wordt het drainagesysteem gebruikt om water te infiltreren waarbij de grondwaterstand op peil wordt gehouden, feitelijk waterlevering van onderaf. 
</div>
</div>
</div>
{% endblock %}
