{% load staticfiles %}
{% block content %}
<div class = "container-fluid">
<div class = "row-fluid">
<div class = "col-md-6 text-center" >
<img src="{% static image %}" width = 90%"/>
</div>
<div class = "col-md-6">
<h2>Waterkwaliteit</h2>
Binnen het gebied van Noord-Holland is veel variatie van het zoutgehalte in kwelgebieden. Er kan gekozen worden uit een vereenvoudigde verziltingskaart op basis van de volgende indeling: 
<p/>
<ul>
<li>zoet &lt; 300 mg/l</li>
<li>brak 300 – 1000 mg/l</li>
<li>zout &gt; 1000 mg/l</li>
</ul>
<p/>
De witte gebieden betreft infiltratiegebieden en zijn ook als zoet aangemerkt.<br/>
De keuze van grondwaterkwaliteit heeft invloed op de beschikbaarheid van water dat kan worden gebruikt om het waterbassin te vullen. Bij de keuze van een zoet gebied zal er meer water het bassin in kunnen gaan dan in brakke en zoute gebieden.

</div>
</div>
</div>
{% endblock %}
