{% load staticfiles %}
{% block content %}
<div class = "container-fluid">
<div class = "row-fluid">
<div class = "col-md-6 text-center" >
<img src="{% static image %}" width = 90%"/>
</div>
<div class = "col-md-6">
<h2>Waterbehoefte</h2>
De waterbehoefte komt overeen met het gemiddelde neerslagtekort gedurende het groeiseizoen. Dit getal kan ook worden uitgedrukt als de benodigde watergift onder ideale groeiomstandigheden van bollenteelt tulpen.<br/> 
De kaart toont het gebied van Noord-Holland dat is ingedeeld in gebieden met een tekort dat gemiddeld (iets minder dan 200mm) is en droog (iets meer dan 200mm). <br/> 
De keuze bepaald de waterbehoefte en de hoeveelheid neerslag en daarmee de dimensionering van het bassin en daaraan gerelateerde investeringskosten.
 <p/>
<p>
In een droog gebied is er relatief veel verdamping. Het gemiddelde neerslagtekort gedurende het groeiseizoen is 200 mm. 
</p>
<p>
In een nat gebied is er minder verdamping, met een gemiddeld neerslagtekort van 150 mm in het groeiseizoen. 
</p>
<p>
De juiste keuze van de neerslagcategorie is belangrijk, omdat de hoeveelheid neerslag invloed heeft op het berekende watertekort en de hiermee samenhangende wateropslagbehoefte. 
</p>
</div>
</div>
</div>
{% endblock %}
