{% load staticfiles %}
{% block content %}
<div class = "container-fluid">
<div class = "row-fluid">
{%if image %}
<div class = "col-md-6 text-center" >
<img src="{% static image %}" width = 90%"/>
</div>
<div class = "col-md-6">
{%else%}
<div class = "col-md-12">
{%endif%}
<h2>Berekeningsmethode</h2>
Er zijn 2 berekingsmethodes beschikbaar:
<p>
<ul>
<li><h4>Oppervlakte</h4></li>
Door het gewenste perceelsoppervlaktes op te geven, wordt voor verschillende bassinvolumes berekend wat de beschikbare watergift gedurende het groeiseizoen is. Ofwel in welke mate aan de waterbehoefte kan worden voldaan. 
<li><h4>Volume</h4></li>
Door het beschikbare volume van een bassin op te geven, wordt voor verschillende perceeloppervlaktes berekend wat de beschikbare watergift gedurende het groeiseizoen is. Ofwel in welke mate aan de waterbehoefte kan worden voldaan. 
</ul>
</div>
</div>
</div>
{% endblock %}
